.userHeadMsg-container {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #e9e8e8;
}

.userHeadMsg-center-main-box {
  width: 1134px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userHeadMsg-center-main-box .user-left-msg-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.userHeadMsg-center-main-box .user-left-msg-box div {
  cursor: pointer;
}

.userHeadMsg-center-main-box .user-left-msg-box .user-img {
  width: 80px;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  line-height: 70px;
}

.userHeadMsg-center-main-box .user-left-msg-box .user-img img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.userHeadMsg-center-main-box .user-left-msg-box .user-name {
  width: 80px;
  height: 70px;
  text-align: center;
  line-height: 70px;
}

.userHeadMsg-center-main-box .user-left-msg-box .user-collect:hover {
  border: 1px solid #0ec95f;
  color: #0ec95f;
}

.userHeadMsg-center-main-box .user-left-msg-box .accention:hover {
  border: 1px solid #0ec95f;
  color: #0ec95f;
}

.userHeadMsg-center-main-box .user-left-msg-box .user-collect {
  width: 50px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.userHeadMsg-center-main-box .user-left-msg-box .accention {
  width: 80px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
}

.userHeadMsg-center-main-box .user-right-btn-box {
  display: flex;
}

.userHeadMsg-center-main-box .user-right-btn-box div {
  margin-left: 10px;
  cursor: pointer;
}

.userHeadMsg-center-main-box .user-right-btn-box div .ant-dropdown-trigger {
  background: #0ec95f;
}

.userHeadMsg-center-main-box .user-right-btn-box div .ant-dropdown-trigger span {
  color: #fff;
}

.userHeadMsg-center-main-box .user-right-btn-box div .ant-dropdown-trigger.ant-dropdown-open {
  color: #fff !important;
}

.userHeadMsg-center-main-box .user-right-btn-box div .ant-dropdown-trigger.ant-dropdown-open span {
  color: #fff !important;
}

.userHeadMsg-center-main-box .user-right-btn-box div .ant-btn:hover {
  border: 1px solid #0ec95f;
}

.userHeadMsg-center-main-box .user-right-btn-box div .ant-btn:hover span {
  color: #0ec95f;
}
