.news-word-container {
  width: 100%;
  height: 100%;
  background: #fafafa;
}

.shop {
  width: 100%;
  height: 100%;
  background: #fafafa;
}

.titltss {
  font-size: 30px;
}

.center-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.center-wrapper .center-main {
  width: 900px;
  height: 100%;
  margin-top: 20px;
  background: #fff;
}

.center-wrapper .center-main .text-area {
  border: 1px solid #e6e6e6;
}

.center-wrapper .center-main .text-area .editorElem-body .w-e-text {
  overflow: auto;
}

.edit-header {
  width: 100%;
  height: 40px;
  margin-top: 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #e9e9e9;
}

.editorElem-menu {
  background: #fff;
  border-bottom: 1px solid #ccc !important;
}

.editorElem-menu.w-e-toolbar {
  background: #fff !important;
  border-bottom: 1px solid #ccc !important;
}

.editorElem-menu {
  width: 1200px;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
}

.editorElem-menu div {
  background: #fafafa;
  width: 100px;
  border-left: 1px solid #e2e2e2;
}

.editorElem-menu div:nth-child(1) {
  border: 0;
}

.editorElem-menu div:nth-child() {
  border: 0;
}
