.header-container {
  display: flex;
  justify-content: space-around;
  border: 1px solid #e6e4e4;
  z-index: 999;
  height: 60px;
}

.header-main-conetnt {
  width: 1134px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-main-conetnt .main-left-box {
  width: 900px;
  display: flex;
  align-items: center;
}

.header-main-conetnt .main-left-box .logo-wrapper {
  width: 200px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-main-conetnt .main-left-box .logo-wrapper img {
  width: 30px;
  height: 30px;
}

.header-main-conetnt .main-left-box .logo-wrapper span {
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 18px;
}

.header-main-conetnt .main-left-box .search-box {
  width: 220px;
}

.header-main-conetnt .main-left-box .search-box .ant-input:hover {
  border: 1px solid  #0ec95f;
}

.header-main-conetnt .main-left-box .tab-title-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 100%;
}

.header-main-conetnt .main-left-box .tab-title-wrapper .title-list {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-main-conetnt .main-left-box .tab-title-wrapper .title-list li {
  flex: 1;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.header-main-conetnt .main-left-box .tab-title-wrapper .title-list li:hover {
  color: #0ec95f;
}

.header-main-conetnt .main-left-box .tab-title-wrapper .title-list li:nth-child(1) {
  font-weight: 600;
}

.header-main-conetnt .main-right-box {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-main-conetnt .main-right-box div {
  width: 50px;
  cursor: pointer;
}

.header-main-conetnt .main-right-box div:hover {
  color: #0ec95f;
}

.header-main-conetnt .main-right-box .news {
  width: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 10px;
  text-align: right;
}

.header-main-conetnt .main-right-box .news span {
  width: 15px;
  height: 15px;
  background: #0ec95f;
  border-radius: 15px;
  text-align: center;
  line-height: 15px;
  color: #fff;
  font-weight: 600;
}
